/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../theme/variables";
@import "../utils/mixin";

body {
    height: 100%;
    width: 100%;
    font-family: Roboto,sans-serif!important;
}
#app {
    padding-top: 100px;
    background-color: #F0F3F4 !important;
}
.content-header {
    padding: 15px 45px;
    border-radius: 4px;
    z-index: 2;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    align-items: center;
    height: 50px;
     h6 {
        font-size: 14px;
        font-weight:600;
        color:#ffffff;
    }
    .content-header-group {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 100%;
        .btn {
            box-shadow: 2px 2px 0px 0px #365a79;
        }
        .search-group  {
            position: relative;
            color: #000000;
            margin-right:10px;
            i {
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                left:10px;
            }
            .form-control {
                width: 250px;
                border: 0;
                border-radius: 7px;
                padding: 9px 10px 9px 35px;
                color: #000000;
                box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.1) !important;
                &::placeholder { 
                    color: #6e6d7a; 
                }
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
        }
    }
}

.content-body {
    padding: 10px 45px 10px;
    position: relative;
    scroll-behavior: smooth;
    height: calc(100vh - 100px);
    overflow: auto;
}
