/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../theme/variables";
@import "../utils/mixin";



.background-overlay,
.arc-overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    right: 0;
    width: 30%;
    height: 400px;
    z-index: 0;
    width: 0;
    height: 0;
    border-bottom: 450px solid #1B4F72;
    border-left: 450px solid transparent;
    &::before {
      content: " ";
      position: absolute;
      bottom: -450px;
      right: -33px;
      height: 700px;
      width: 924px;
      border-radius: 50%;
      background: #f0f3f4;
      transform: rotate(-4deg);
    }
}
.arc-overlay {
  transform: rotate(-180deg);
  position: fixed;
  top: 50px;
  left: 0;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 280px 15px 180px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    z-index: 4;
    background: #1B4F72;
    .top-bar-logo {
      height: 25px;
      width: 75px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    } 
    ul.nav-menu-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center;
      li {
         display: inline-block;
         a {
            padding: 8px 15px 8px 35px;
            position: relative;
            font-size: 11px;
            color:#ffffff;
            border-radius:4px;
            text-decoration:none;
            transition: all .4s ease-in-out;
            &.active,
            &:hover {
                box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.1);
                background: rgba(52,130,180,0.8);
                transition: all .4s ease-in-out;
                color: #ffffff;
            }
            span {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left:10px;
            }
            strong {
              font-weight: 500;
            }
         }
       }
    }
    .dropdown {
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      right: 10px;
      .btn-toggle {
          background-color: transparent;
          padding: 10px 45px 10px 10px;
          position: relative;
          color: #ffffff;
          font-size: 13px;
          font-weight: 600;
          box-shadow: none;
          &:focus {
              outline: none;
              box-shadow: none;
          }
          .initial {
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right:0;
          }
       }
       .dropdown-menu {
          padding: 15px;
          border: 0;
          border-radius: 2px;
          text-align: center;
           h6 {
              margin: 0 0 5px;
              font-size: 14px;
              font-weight: 600;
            }
            a,
            p {
                font-size: 12px;
                display: block;
            }
            a {
              font-size:13px;
              margin-bottom: 10px;
            }
            .btn-logout {
              font-size: 12px;
              background-color: transparent;
              border: 1px solid #9a8d8d;
              width:100%;
            }
            .initial {
              margin: 0 auto 15px;
            }
        }
    }
}

/* .footer {
  background: #e3e9ea9e;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 50px;
}
.footer-logo {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid #ffffff;
}
.footer-logo img {
  height:100%;
  width:100%;
  object-fit: contain;
}
.footer h6 {
  color:#000000;
}
.footer .footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.footer .footer-list li {
  margin-bottom: 10px;
  font-size: 12px;
  color: #5D6D7E;
}
.footer .footer-list li a {
  
}
.footer .footer-list li a i {
  margin-right: 7px;
}

.footer .form-group {
  text-align: center;
}
.footer .form-group .form-group-label {
  font-size: 12px;
  font-weight: 600;
}
.footer .form-group .form-control {
  box-shadow: none;
  border: 0;
  border-radius: 2px;
}
.middel-footer {
  text-align: center;
}
.middel-footer .btn {
  width: 200px;
  box-shadow: none;
  border: 0;
  border-radius: 0;
} */

