/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../theme/variables";
@import "../utils/mixin";


/* common card  */

.card {
  border: 0;
  background: #ffffffc7;
  box-shadow: -1px 1px 2px rgba(0,0,0,.1);
  border-radius: 22px;
  margin-bottom:15px;
  .card-header {
    position: relative;
    padding: 0;
    border: 0;
    background-color: transparent;
    padding: 15px 20px;
    border-bottom: 1px solid #e6e6e6;
    h1,
    .form-group {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            display: inline-block;
            color: #000000;
        }
    .form-group {
        padding: 2px;
        padding-right:10px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        .form-control {
            background-color: transparent;
            color:#000000;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 5px 25px;
            &:focus {
                outline:0;
                box-shadow:none;
               }
            }
        }
    }
    .card-body {
        padding: 15px;
        .circular-chart {
            height: 200px;
            width: 200px;
            margin: 0 auto;
            img {
                height:100%;
                width:100%;
                object-fit: contain;
            }
        }
        .chart-box {
        height: 300px;
        width: 100%;
        position: relative;
        p {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: 0;
            font-size: 12px;
            font-weight: 700;
            color:#09658f;
            }
        }
    }
}


/* end */
