/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../theme/variables";
@import "../utils/mixin";

/* check-box */

.check-box-group {
    padding: 10px 10px 10px 45px !important;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #4a4a4a;
    height: initial !important;
    line-height: normal !important;
    width: 100%;
    background: #ffffff;
    .check-mark {
        top:50% !important;
        transform:translateY(-50%);
        left:10px !important;
    }
}

.check-box {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    height: 25px;
    line-height: 23px;
    .form-control {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .check-mark:after {
            display: block;
        }
    }
    .check-box-text {
        font-size: 13px;
        color: #4a4a4a;
    }
    .check-mark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border:1px solid #e6e6e6;
        &::after {
            content: "\2714";
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            display: none;
            color:#1B4F72;
        }
    }
}

/* end */