/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../theme/variables";
@import "../utils/mixin";

.form-content-wrapper {
    padding:12px;
    // box-shadow: -1px 1px 2px rgba(0,0,0,.1);
    border: 1px solid #D0D3D4;
    background: #ffffffc7;
    border-radius: 22px;
    width: calc(100% - 280px);
    margin: 0 auto;
    .form-header {
        background: #1B4F72;
        border-radius: 22px;
        margin-bottom: 10px;
        padding: 12px 20px;
        h6 {
             font-size: 12px;
             font-weight: 600;
             color: #ffffff;
        }
    }
    .form-body  {
        padding: 12px;
    }
    .form-footer {
        padding: 12px;
        border-top: 1px solid #e6e6e6;
        .btn {
            width: 120px;
            box-shadow: 2px 2px 0px 0px #365a79;
        }
        .btn-primary {
            float: right;
        }
    }
}

/* file upload */
.input-file-upload,
.file-upload-preview {
    height:178px;
    width:100%;
    position:relative;
    background:#ffffff;
    border:1px solid #e6e6e6;
    border-radius: 4px; 
    .form-control {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        height:100%;
        width:100%;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }
    p {
        color:#1B4F72;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size:11px;
    }
} 
.file-upload-preview {
    border:0;
     img {
        height:100%;
        width:100%;
        object-fit: contain;
    }
    .btn {
        position: absolute;
        top:10px;
        right:10px;
    }
}
/* end */


/* form group */

.form-group {
    margin-bottom: 15px;
    position: relative;
}
.form-group-label {
    color: #6e6d7a;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 7px;
}
.form-control {
    padding: 10px 12px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 13px;
    color: #4a4a4a;
    height: auto;
    line-height: normal;
}
textarea.form-control {
    height:40px;
}

/* end */


/* addOrEditLicense form-body */

#addOrEditLicense .form-body {
    height: calc(100vh - 323px);
    overflow: auto;
}

/* end */