/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

/* list-view-wrapper-common */

/* list-view-wrapper */
.list-view-wrapper {
    .list-view-header {
        margin-bottom:3px;
        .list-view {
            border-radius: 22px 22px 0 0 !important;
            padding: 20px 15px;
        }
    } 
    .list-view {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #ffffffc7;
        padding: 15px;
        margin-bottom:3px;
        box-shadow: -1px 1px 2px rgba(0,0,0,.1);
         &:last-child {
            border-radius: 0 0 22px 22px;
        }
        li {
            position: relative;
            &:first-child {
                padding-left:45px;
                p {
                    color: #365a79;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
            .list-image {
                height: 35px;
                width: 35px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                border-radius: 50%;
                 img {
                    height:100%;
                    width:100%;
                    border-radius:50%;
                }
            }
            p,
            h2 {
                margin:0;
                font-size:11px;
                color:#626567;
                padding-right:10px;
                strong {
                    font-size: 13px;
                    font-weight:700;
                    color:#283747;
                    margin-right: 7px;
                }
            }
            a {
                font-size:11px;
            }
            h3,
            h1 {
                font-size: 13px;
                font-weight:700;
                margin:0;
                color:#283747;
            }
            h3 {
                font-weight:500;
            }
            .alert {
                margin-bottom: 0;
                padding: 5px 12px;
                border: 0;
                display: inline-block;
            }
        }
    }
     .list-view-body .list-view:hover {
        transform: scaleZ(1.01);
        box-shadow: -10px 10px 20px rgba(0,0,0,.15);
        transition: all ease-in-out .3s;
    }
}

/* end */


/* counter css */

ul.counter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    padding: 0 10px 15px 10px;
    flex: 12.5%;
    max-width: 12.5%;
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
    .couter-wrapper {
        background: #ffffff;
        padding: 10px;
        text-align:center;
        box-shadow: -1px 1px 2px rgba(0,0,0,.1);
        border-radius: 22px;
        .counter-logo {
            background:#dbeded;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 10px;
            color:#154360;
            box-shadow: 2px 2px 2px #2980b999;
        }
        h5 {
            font-size:13px;
            font-weight: 700;
            color: #2E4053;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            font-weight: 700;
            color:#7B7D7D;
        }
     }
  }
}
/* end */

/* nav pill list */

.nav.nav-pills {
  margin-bottom:20px;
  border-bottom:1px solid #e6e6e6;
  .nav-link {
    border-radius:0;
    color:#7B7D7D;
    position:relative;
    transition:all .4s ease-in-out;
    font-size:12px;
    font-weight:600;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        border-bottom: 2px solid #007bff;
        display:none;
        transition:all .4s ease-in-out;
        }
        &.active {
            background:transparent;
            color:#626567;
            &::before {
                transition:all .4s ease-in-out;
                display:block;
            }
        }
    }
}

/* end */

/* Package Attributes list */

ul.package-list {
  list-style-type:none;
  padding:0;
  margin:0;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  li {
      flex: 0 0 25%;
      max-width: 25%;
      padding:5px;
      .package-list-item {
        padding: 10px 108px 10px 10px;
        border:1px solid #D0D3D4;
        background:#ffffff;
        position: relative;
        border-radius:5px;
         p {
            font-size:11px;
            color:#7B7D7D;
            margin-top:10px;
            strong  {
                color:#007bff;
                }
            }
        }
        .input-group {
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            right:7px;
            width: initial;
            border:1px solid #D0D3D4;
            border-radius:22px;
            .form-control {
                width: 35px;
                height: 25px;
                flex: initial;
                padding: 8px;
                border-top: 0;
                border-bottom: 0;
                font-size: 12px;
            }
            .btn {
                position:relative;
                background:#ECF0F1;
                box-shadow:none;
                padding:0 15px;
                i {
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    color:#007bff;
                    font-size:10px;
                }
            }
            .input-group-prepend {
                border-radius: 22px 0px 0px 22px;
            }
            .input-group-append  {
                border-radius: 0px 22px 22px 0px;
            }
        }
    }
}

/* end */

/* custom-menu-list */

.custom-menu-list {
  list-style-type:none;
  padding:0;
  margin:0;
  li {
      flex: 0 0 25%;
      max-width: 25%;
      padding:5px;
      .custom-menu-list-item {
        height: 100%;
        position: relative;
        padding: 12px 10px 12px 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background-color: #fff;
        transition: all ease-in-out .3s;
        border:1px solid #D0D3D4;
        border-radius:5px;
        &.active {
              background-color: rgba(231,244,253,.65);
              transition: all ease-in-out .3s;
          }
          button {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            padding-left: 10px;
            padding-right: 10px;
            box-shadow:none;
         }
         h6 {
            flex: 0 0 100%;
            max-width: 100%;
            color: #007bff;
            margin: 0;
            font-size: 13px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
         }
         p {
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0;
            color: gray;
            font-size: 11px;
         }
      }
  }
}
/* end */

/* system properties */

#systemt-properties {
  padding-left: 300px;
}

ul.system-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 45px;
  bottom: 10px;
  overflow: auto;
  width: 240px;
  padding-right: 10px;
  li {
    padding:10px 20px;
    background: #ffffffc7;
    box-shadow: -1px 1px 2px rgba(0,0,0,.1);
    margin-bottom:3px;
    &:hover,
    &.active {
        transform: scaleZ(1.01);
        box-shadow: -10px 10px 20px rgba(0,0,0,.15);
        transition: all ease-in-out .3s;
        background:#EAF2F8;
    }
    &:first-child {
        border-radius:22px 22px 0 0;
    }
    &:last-child {
        border-radius:0 0 22px 22px;
    }
    p {
        strong {
            color: #007bff;
        }
      }
   }
}
/* end */

