/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../theme/variables";
@import "../utils/mixin";

/* radio button  */

.radio-button {
    padding: 10px 12px 10px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 13px;
    color: #4a4a4a;
    height: auto;
    line-height: normal;
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
    .form-control {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .radio-button-mark {
            border-color:#1B4F72;
            &::before {
                display: block;
            }
        }
    }
    .radio-button-mark {
        border:1px solid #e6e6e6;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        &::before {
            content: "";
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            display: none;
            background: #1B4F72;
            height: 10px;
            width: 10px;
        }
    }
}
  
/* end */