/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../theme/variables";
@import "../utils/mixin";

/* table */

.content-table {
  background: #ffffffc7;
  box-shadow: -1px 1px 2px rgba(0,0,0,.1);
  border-radius: 22px;
  .table {
        border: 0;
        border-radius: 22px;
        font-size: 12px;
        th {
            border-top:0;
            vertical-align: middle;
            padding: 12px 20px;
            background-color: #1b4f72;
            color: #ffffff;
            &:first-child {
                border-radius:22px 0 0 0;
                border-left: 0;
            }
            &:last-child {
                border-radius:0 22px 0 0;
                border-right: 0;
            }
        }
        td {
            color:#5c5c5c;
            border-bottom:0;
            font-size: 12px;
            vertical-align: middle;
            padding: 12px 20px;
            &:last-child {
                border-right:0;
            }
            &:first-child {
                border-left: 0;
            } 
            &:hover {
                transform: scaleZ(1.01);
                box-shadow: -10px 10px 20px rgba(0,0,0,0.15);
                transition: all ease-in-out .3s;
                background: #F4F6F7;
            }
        }
    }
}

/* end  */