/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* @import "../theme/variables.scss";
@import "../utils/mixin.scss"; */


.initial {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #9a8d8d;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.03em;
}
p, label, h1, h2, h3, h4, h5, h6, a, span, input, strong {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    margin: 0;
}
strong, label {
    font-weight: 600;
}
p {
     font-size: 12px;
}
input, input:hover, input:focus, textarea, textarea:hover, textarea:focus, button:focus, select, select:hover, select:focus {
    outline: none !important;
    box-shadow: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: none !important;
    background-color: transparent !important;
}
.overflow-y-auto {
    overflow-y: auto;
}
.overflow-x-auto {
    overflow-y: auto;
}
.list-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
}
.text-underline-hover:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
}


.text-orange {
    color: orange !important;
}
.text-red {
    color: red !important;
}
.text-green {
    color: green !important;
}
.text-yellow {
    color: yellow !important;
}
.text-light {
    color: #ccccff !important;
}
.text-gold {
    color: #FFD700 !important;
}

.bg-red {
    background-color: #e60000;
}
.bg-orange {
    background-color: #ff751a !important;
}
.bg-green {
    background-color: #009900 !important;
}
.bg-green-legend {
  background-color: #00da00 !important;
}
.bg-light-green {
    background-color: #00b33c !important;
}
.bg-indigo {
    background-color: var(--indigo) !important;
}
.bg-purple {
    background-color: #9933ff !important;
}
.bg-transparent {
    background-color: transparent !important;
}
.bg-white{
    background-color: #ffffff !important;
}
.bg-light-gray {
    background-color: #f0f0f0 !important;
}
.bg-light-blue{
    background-color: rgba(231,244,253,.65) !important;
}
.bg-brown{
    background-color: #cc9900;
}
.bg-yellow{
    background-color: #fcce03;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #b4c0cb;
    border-radius: 5px;
    height: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #96a7b6;
}
::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}

.border-none {
    border: 0 !important;
}
.border-top-none {
    border-top: 0 !important;
}
.border-right-none {
    border-right: 0 !important;
}
.border-bottom-none {
    border-bottom: 0 !important;
}
.border-left-none {
    border-left: 0 !important;
}


.cursor-pointer {
    cursor: pointer !important;
}
.cursor-default {
    cursor: default !important;
}
.cursor-not-allowed {
    cursor: not-allowed !important;
}
.cursor-none {
    cursor: none !important;
}
.error-message {
    color: #e60000;
    font-size: 11px;
}

.border-red {
    border: 1px solid #e60000;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
