/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../theme/variables";
@import "../utils/mixin";

.button-group .btn {
    margin-right:10px;
    i {
        margin-right:0px;
    }
}

.btn {
    border: 0;
    box-shadow: 2px 3px 0px 0px;
    border-radius: 2px 0px 0px 1px;
    font-size: 11px;
    padding: 8px 20px;
    i {
        margin-right:7px;
    }
    &:focus,
    &:active:focus {
        border: 0;
        outline: none;
        box-shadow: none;
    }
}


.btn-transparent {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    position: relative;
    padding: 0;
    i {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size:12px;
    }
}
.btn-transparent-success {
    color: #19b4cc;
    background-color: #60d9eb4a;
}
.btn-transparent-primary {
    color: #1a88ff;
    background-color: #e6f1ff;
}
.btn-transparent-danger {
    color: #e62e00;
    background-color: #fbe9eb;
}