/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

// font size
.f-8 {
    font-size: 8px !important;
}
.f-9 {
    font-size: 9px !important;
}
.f-10 {
    font-size: 10px !important;
}
.f-11 {
    font-size: 11px !important;
}
.f-12 {
    font-size: 12px !important;
}
.f-13 {
    font-size: 13px !important;
}
.f-14 {
    font-size: 14px !important;
}
.f-15 {
    font-size: 15px !important;
}
.f-16 {
    font-size: 16px !important;
}
.f-17 {
    font-size: 17px !important;
}
.f-18 {
    font-size: 18px !important;
}
.f-19 {
    font-size: 19px !important;
}
.f-20 {
    font-size: 20px !important;
}
.f-21 {
    font-size: 21px !important;
}
.f-22 {
    font-size: 22px !important;
}
.f-23 {
    font-size: 23px !important;
}
.f-24 {
    font-size: 24px !important;
}
.f-25 {
    font-size: 25px !important;
}
.f-26 {
    font-size: 26px !important;
}
.f-27 {
    font-size: 27px !important;
}
.f-28 {
    font-size: 28px !important;
}
.f-29 {
    font-size: 29px !important;
}
.f-30 {
    font-size: 30px !important;
}
.f-31 {
    font-size: 31px !important;
}
.f-32 {
    font-size: 32px !important;
}
.f-33 {
    font-size: 33px !important;
}
.f-34 {
    font-size: 34px !important;
}
.f-35 {
    font-size: 35px !important;
}
.f-36 {
    font-size: 36px !important;
}
.f-37 {
    font-size: 37px !important;
}
.f-38 {
    font-size: 38px !important;
}
.f-39 {
    font-size: 39px !important;
}
.f-40 {
    font-size: 40px !important;
}
.f-41 {
    font-size: 41px !important;
}
.f-42 {
    font-size: 42px !important;
}
.f-43 {
    font-size: 43px !important;
}
.f-44 {
    font-size: 44px !important;
}
.f-45 {
    font-size: 45px !important;
}
.f-46 {
    font-size: 46px !important;
}
.f-47 {
    font-size: 47px !important;
}
.f-48 {
    font-size: 48px !important;
}
.f-49 {
    font-size: 49px !important;
}
.f-50 {
    font-size: 50px !important;
}
// end font size

// font weight
.fw-100 {
    font-weight: 100 !important;
}
.fw-100i {
    font-weight: 100 !important;
    font-style: italic !important;
}
.fw-200 {
    font-weight: 200 !important;
}
.fw-200i {
    font-weight: 200 !important;
    font-style: italic !important;
}
.fw-300 {
    font-weight: 300 !important;
}
.fw-300i {
    font-weight: 300 !important;
    font-style: italic !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-400i {
    font-weight: 400 !important;
    font-style: italic !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-500i {
    font-weight: 500 !important;
    font-style: italic !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-600i {
    font-weight: 600 !important;
    font-style: italic !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-700i {
    font-weight: 700 !important;
    font-style: italic !important;
}
.fw-800 {
    font-weight: 800 !important;
}
.fw-800i {
    font-weight: 800 !important;
    font-style: italic !important;
}
.fw-900 {
    font-weight: 900 !important;
}
.fw-900i {
    font-weight: 900 !important;
    font-style: italic !important;
}
// end font weight