/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../theme/variables";
@import "../utils/mixin";




.login-wrapper {
    position: relative;
    height:100vh;
    margin-top:-100px;
    .arc-overlay {
        top:0;
    }
    .logo {
        height: 70px;
        width: 160px;
        position: absolute;
        top: 10px;
        right: 10px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .login-form-box {
        z-index: 2;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 30px 70px;
        text-align: center;
        border: 1px solid #D0D3D4;
        background:#ffffff;
        h1 {
            font: {
                size:32px;
                weight:700;
            }
            margin-bottom: 8px;
            color:#1B4F72;
        }
        h6 {
            font: {
                size:14px;
                weight:600;
            }
            margin-bottom: 20px;
            color:#797D7F;
        }
        h3 {
            font-size: 15px;
            margin-bottom: 20px;
            position: relative;
            color:#797D7F;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-bottom: 1px solid #D0D3D4;
                width: 100px;
                left: 40px;
            }
            &::after {
                left:initial;
                right:40px;
            }
        }
        a {
            display: block;
            font-size: 12px;
            margin-bottom: 20px;
        }
        .btn {
            font: {
                size:12px;
                weight:600;
            }
        }
        .btn,
        .form-group {
            width: 300px;
            margin:0 auto 15px;
        }
        .btn-theme {
            background:#1B4F72;
            color:#ffffff;
        }
        .form-group {
            .form-group-icon {
                font-size: 12px;
                position: absolute;
                top: 52%;
                transform: translateY(-50%);
                left: 8px;
                background: #1b4f729e;
                height: 25px;
                width: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                i {
                    color:#ffffff;
                }
            }
            .form-control {
                padding-left: 50px;
            }
        }
    }
}
